/**
 * src/styles/variables.scss
 *
 * Configures SASS variables
 */

$black: #121212;
$white: #fff;
$primary: #1b2054;
$blue-navy: #5a78dc;
$tertiary-navy: #09298e;
$primary-blue: #436fff;
$navy: #1b2054;
$green: #03c76b;
$point: #03c76b;
$purple: #a064ee;
$success: #1c95ff;
$blue: #1c95ff;
$orange: #fa8823;
$yellow: #ffb963;
$error: #e95d77;
$red: #e95d77;

$body-light: #8e92c2;
$line-navy: #e1e3ef;
$bg-navy: #f4f5fa;
$bg-green: #f0f9f5;
$body-light-gray: #bbbbbb;
$line-gray: #dfdfdf;
$light-gray: #e5e5e5;
$bright-gray: #f5f5f5;
$disable: #e5e5e5;
