{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "bracketLine": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "arrowParens": "always"
}
