@use "./mixin" as *;
@use "../variables" as *;

.rt-selection {
  box-shadow: none;
  border-radius: 6px !important;

  .v-list {
    box-shadow: none !important;
    border: 1px solid $primary;
    padding-block: 8px;
  }
  .v-list-item {
    padding-inline: 10px !important;
    min-height: 30px !important;
    &:has(.v-checkbox-btn) {
      min-height: 36px !important;
      @include respond-down("tablet") {
        min-height: 40px !important;
      }
    }
    .v-checkbox-btn {
      --v-selection-control-size: 18px;
      margin-right: 8px;
      .v-icon {
        font-size: 18px !important;
        @include respond-down("tablet") {
          font-size: 24px !important;
        }
      }
    }
    .v-list-item-title {
      font-weight: 400;
      font-size: 14px;
    }
  }
}

.rt-input-box {
  display: flex;
  column-gap: 8px;
  align-items: flex-start;
  .v-text-field,
  .v-select {
    flex: 1;
  }
}

.rt-inputList {
  &__item {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
    // 2단 3단: 구조 .d-flex > div + div (|| div)
    .d-flex {
      column-gap: 8px;
      > div {
        flex: 1 1 33%;
      }
    }
  }
  &__label {
    display: flex;
    column-gap: 4px;
    align-items: center;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
  &__dataTxt {
    padding-left: 8px;
    font-weight: 400;
    line-height: 36px;
    word-break: break-all;
  }
}

// 점주 전용 table-filter
.rt-table-filter {
  &.v-row {
    margin: -4px;
  }
  .v-col {
    padding: 4px !important;
  }
}

.rt-filter-segment.v-btn-toggle {
  position: relative;
  z-index: 1;
  border-radius: 0 !important;
  height: 36px !important;
  .v-btn {
    border-radius: 0 !important;
    padding-inline: 0;
    width: 90px;
    height: 36px !important;
    .v-btn__content {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      span.text-green {
        margin-left: 6px;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 12px;
        line-height: 140%;
      }
    }
    &--active {
      position: relative;
      z-index: 1;
      &::before {
        position: absolute;
        bottom: 1px;
        left: 0;
        z-index: 10;
        background: $primary;
        width: 100%;
        height: 2px;
        pointer-events: none;
        content: "";
      }
      .v-btn__overlay {
        opacity: 0 !important;
      }
      .v-btn__content {
        font-weight: 700;
      }
    }
  }
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: $bg-navy;
    width: 100%;
    height: 1px;
    content: "";
  }
}
.rt-filter-chips.v-btn-toggle {
  column-gap: 10px;
  border-radius: 0 !important;
  height: 30px !important;
  .v-btn {
    border-radius: 50px !important;
    background-color: $bright-gray;
    padding-inline: 12px;
    width: auto;
    min-width: initial;
    height: 30px !important;
    .v-btn__content {
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      span.text-green {
        margin-left: 6px;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 12px;
        line-height: 140%;
      }
    }
    &--active {
      background-color: $primary;
      .v-btn__overlay {
        opacity: 0 !important;
      }
      .v-btn__content {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

.rt-notice-box {
  background-color: $bg-navy;
  padding: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  @include respond-down("tablet") {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
  }
}

.rt-stepper-header {
  display: flex;
  column-gap: 1px;
  justify-content: center;
  align-items: center;
  &__dot {
    border-radius: 16px;
    background-color: $line-navy;
    width: 16px;
    height: 16px;
    &.active {
      background-color: $green;
    }
    &.curr {
      background: $green url("@/assets/img/icon/checkmark.svg") no-repeat center;
      background-size: 8px auto;
    }
  }
  &__line {
    flex: auto;
    border-radius: 4px;
    background-color: $line-navy;
    height: 2px;
    &.done {
      background-color: $green;
    }
  }
}

@supports (-webkit-touch-callout: none) {
  @media (hover: none) and (pointer: coarse) and (max-width: 768px) {
    .ios-mobile-input {
      &.v-input .v-field {
        font-size: 16px;
        input {
          transform: scale(0.875); /* 14/16 */
          transform-origin: left center;
          width: calc(100% / 0.875);
        }
      }
    }
  }
}

.rt-middot {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.7;
  margin: 0 6px;
  border-radius: 50%;
  background-color: $line-navy;
  width: 4px;
  height: 4px;
}

.rt-chart.vue-apexcharts {
  .apexcharts-legend {
    column-gap: 8px;
    align-items: center !important;
    margin-top: 10px;
    padding-inline: 0;
    min-height: 26px;
    .apexcharts-legend-series {
      margin: 0 !important;
    }
    .apexcharts-legend-marker {
      flex: 0 0 16px;
      margin-right: 0;
      svg {
        border-radius: 50%;
        width: 8px;
        height: 8px;
      }
    }
    .apexcharts-legend-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      font-family: inherit !important;
    }
    .apexcharts-legend-group-vertical {
      column-gap: 8px;
      flex-direction: row;
    }
  }
}

.rt-menuCard.v-card {
  border-radius: 16px !important;
  padding: 0px 16px 20px;
  min-width: 185px;
  max-width: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  word-break: keep-all;
  .text-rt-h4 {
    padding-block: 12px;
  }
}

.tbd-data {
  background-color: $error !important;
  color: white !important;
}

.no-data .text-body-1 {
  margin-top: 10px;
  color: $body-light;
}
