/*
  mixin.scss
*/

@use "sass:map";

@mixin flexbox(
  $direction: row,
  $justify: center,
  $wrap: wrap,
  $align: center,
  $gap: 0 0
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin width-helper {
  .w-auto {
    width: auto !important;
  }
  @for $i from 1 through 100 {
    $percent: $i * 1%;
    .w-#{$i} {
      width: #{$percent} !important;
    }
  }
}

$direction: (
  "a": "all",
  "b": "bottom",
  "l": "left",
  "r": "right",
  "t": "top",
  "x": "inline",
  "y": "block"
);

@mixin spacing-helper {
  @for $space from 0 through 500 {
    @each $key, $value in $direction {
      @if ($value == "all") {
        .pa-#{$space} {
          padding: #{$space}px !important;
        }
        .ma-#{$space} {
          margin: #{$space}px !important;
        }
      } @else {
        .p#{$key}-#{$space} {
          padding-#{$value}: #{$space}px !important;
        }
        .m#{$key}-#{$space} {
          margin-#{$value}: #{$space}px !important;
        }
      }
    }
  }
}

@include spacing-helper;
@include width-helper;
